# This file is to show GitHub and Setup.py what the dependencies are
# Add all necessary dependencies here
# All methods
python-dotenv
requests

# Slack
slackclient

# Text
twilio

# Email
yagmail
keyring
sendgrid